<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()" color="light">Atrás
        <ion-icon slot="start" name="arrow-back-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nuevo Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-list>
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select (ionChange)="selectCategoria($event)">
        <ion-select-option *ngFor="let categoria of categorias" value="{{categoria.codigo}}">{{categoria.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Incidente</ion-label>
      <ion-select (ionChange)="selectIncidente($event)">
        <ion-select-option *ngFor="let incidente of incidentes" value="{{incidente.codigo}}">{{incidente.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Prioridad</ion-label>
      <ion-note slot="end" color="dark" *ngIf="MostrarPrioridad">{{nombre_prioridad}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Sede</ion-label>
      <ion-select (ionChange)="selectSede($event)">
        <ion-select-option *ngFor="let sede of sedes" value="{{sede.codigo}}">{{sede.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Área</ion-label>
      <ion-select (ionChange)="selectArea($event)">
        <ion-select-option *ngFor="let area of areas" value="{{area.codigo}}">{{area.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Sector</ion-label>
      <ion-note slot="end" color="dark" *ngIf="mostrarSector">{{nombreSector}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Descripción :</ion-label>
      <ion-textarea rows="4" placeholder="Descripción..." [(ngModel)]="descripcion">  </ion-textarea>
    </ion-item>
  </ion-list>

  <br>

  <div *ngIf="mostrarFoto">
    <img [src]="photo" class="imageDefault">
</div>

<ion-row>
<ion-col size="3.5"></ion-col>
<ion-col size="4">
  <ion-button  style="--background: #c54f4d;" class="upload-btn"
          (click)="takePicture()">
          Subir imágen
           <ion-icon slot="start" name="cloud-upload" ></ion-icon>
  </ion-button>
</ion-col>
<ion-col size="4"></ion-col>
</ion-row>

<input type="file" class="file-input"
(change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">
<ion-row>
    <ion-col size="3.5"></ion-col>
    <ion-col size="4">
      <ion-button mat-mini-fab style="--background: #c54f4d;" class="upload-btn"
      (click)="fileUpload.click()">
      Subir archivo
       <ion-icon slot="start" name="cloud-upload" ></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4"></ion-col>
</ion-row>
<ion-text style="text-align: center;">
<h6>{{fileName || "Aún no se ha subido ningún archivo."}}</h6>
</ion-text>
</div>

  <br>
  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col size="6">
      <ion-button expand="block" class="button-save" strong="true" (click)="guardarTicket()">Grabar
                <ion-icon slot="start" color="white" name="save"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>
</ion-content>
