.button-save{
    --background: #4c4c4a;
    color: white;
    margin-top: 10%;
}

ion-toolbar {
    --background: #66615B;
    --color: white;
  }

  .file-input {
    display: none;
  }

  .imageDefault{
    height: 65%;
    width: 65%;
    display: block;
    margin:auto;
    border-radius: 15px 15px 15px 15px;
  }
