.margin{
    margin-left: 21px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

ion-slides{
    --bullet-background: rgb(59, 59, 59);
    --bullet-background-active: black;
}

.badge{
    background-color: #4c4c4a;
  }

  ion-toolbar {
    --background: #66615B;
    --color: white;
  }