<ion-header *ngIf="viewEntered" class="animate__animated animate__fadeInDown">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()" color="light">Atrás
        <ion-icon slot="start" name="arrow-back-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="viewEntered" class="animate__animated animate__fadeInUp">


  <ion-row>
    <ion-col size="6.5">
      <ion-card style="background-color: #f0f0f0; margin-top: 15px; margin-bottom: 10px; height: 80%;">
        <ion-card-subtitle class="ion-margin">Status actual:</ion-card-subtitle>
        <h2 style="color: cornflowerblue" class="ion-margin">{{ticket.estatus}}</h2>
      </ion-card>
    </ion-col>
    <ion-col size="5.5">
      <ion-button expand="block" style="--background: #2D383F; margin-top: 35px;" (click)="editar(ticket)"><b>Editar</b></ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-item-divider style="background-color: #f0f0f0; border-radius: 10px;">
        <ion-label>Sede: </ion-label>
      </ion-item-divider>
      <div class="margin"><ion-label style="font-size: 17px;">{{ticket.sede}}</ion-label></div>
    </ion-col>
    <ion-col size="6">
      <ion-item-divider style="background-color: #f0f0f0; border-radius: 10px;">
        <ion-label>Área: </ion-label>
      </ion-item-divider>
      <div class="margin"><ion-label style="font-size: 17px;">{{ticket.area}}</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item-divider style="background-color: #f0f0f0; border-radius: 10px;">
        <ion-label>Categoría: </ion-label>
      </ion-item-divider>
      <div class="margin"><ion-label style="font-size: 17px;">{{ticket.categoria}}</ion-label></div>
    </ion-col>
    <ion-col size="6">
      <ion-item-divider style="background-color: #f0f0f0; border-radius: 10px;">
        <ion-label>Prioridad: </ion-label>
      </ion-item-divider>
      <div class="margin"><ion-label style="font-size: 17px;">{{ticket.prioridad}}</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-item-divider style="background-color: #f0f0f0; border-radius: 10px;">
    <ion-label>Tiempo en espera o Hold on: </ion-label>
  </ion-item-divider>
  <div class="margin"><ion-label style="font-size: 17px;">{{ticket.espera}}</ion-label></div>
  <ion-row>
    <ion-col size="6">
      <ion-item-divider style="background-color: #f0f0f0; border-radius: 10px;">
        <ion-label>Sector: </ion-label>
      </ion-item-divider>
      <div class="margin"><ion-label style="font-size: 17px;">{{ticket.sector}}</ion-label></div>
    </ion-col>
    <ion-col size="6">
      <ion-item-divider style="background-color: #f0f0f0; border-radius: 10px;">
        <ion-label>Nivel: </ion-label>
      </ion-item-divider>
      <div class="margin"><ion-label style="font-size: 17px;">{{ticket.nivel}}</ion-label></div>
    </ion-col>
  </ion-row>
  <ion-item-divider style="background-color: #f0f0f0; border-radius: 10px;">
    <ion-label>Incidente: </ion-label>
  </ion-item-divider>
  <div class="margin"><ion-label style="font-size: 17px;">{{ticket.incidente}}</ion-label></div>
  <ion-item-divider style="background-color: #f0f0f0; border-radius: 10px;">
    <ion-label>Descripción: </ion-label>
  </ion-item-divider>
  <div class="margin"><ion-label style="font-size: 17px;">{{ticket.descripcion}}</ion-label></div>
  <ion-item-divider style="background-color: #f0f0f0; border-radius: 10px;" *ngIf="ticket.fotos.length !== 0">
    <ion-label>Archivos por status: </ion-label>
  </ion-item-divider>

  <ion-slides pager="true">
    <ion-slide *ngFor="let item of ticket.fotos">
      <ion-card style="background-color: #f0f0f0; width: 90%;" (click)="verpdf(item.foto)">
        <ion-card-content>
          <ion-row>
            <ion-col size="3">
              <ion-badge class="badge">Fecha/ Hora :</ion-badge>
            </ion-col>
            <ion-col size="9">
              <ion-text>
                {{item.fecha_reg}}
              </ion-text>
            </ion-col>
          </ion-row>
            <img src="../../assets/img/PDF.png" style="height: 90px;"/>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <button class="accordion" (click)="acordeon()" *ngIf="ticket.asignacion.length !== 0"><ion-label style="background-color: #f0f0f0; border-radius: 10px; font-size: 17px; font-weight: bolder;">Usuarios asignados: </ion-label></button>
  <div class="panel">

        <ion-card style="background-color: #f0f0f0; width: 90%;" *ngFor="let item of ticket.asignacion">
          <ion-card-content>
            <ion-row>
              <ion-col size="3.5">
                <ion-badge class="badge">Nombre :</ion-badge>
              </ion-col>
              <ion-col size="8.5">
                <ion-text>
                  {{item.nombre}}
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

  </div>

  <button class="accordion" (click)="acordeon()" *ngIf="ticket.asignacion.length !== 0"><ion-label style="background-color: #f0f0f0; border-radius: 10px; font-size: 17px; font-weight: bolder;">Bitácora: </ion-label></button>
  <div class="panel">
        <ion-card style="background-color: #f0f0f0; width: 90%;" *ngFor="let item of ticket.bitacora">
          <ion-card-content>
            <ion-row>
              <ion-col size="3.2">
                <ion-badge class="badge">Acción :</ion-badge>
              </ion-col>
              <ion-col size="8.8">
                <ion-text>
                  {{item.descripcion}}
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4.2">
                <ion-badge class="badge">Fecha/Hora :</ion-badge>
              </ion-col>
              <ion-col size="7.8">
                <ion-text>
                  {{item.fecha_reg}}
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5.5">
                <ion-badge class="badge">Observaciones :</ion-badge>
              </ion-col>
              <ion-col size="6.5">
                <ion-text>
                  {{item.observacion}}
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3.5">
                <ion-badge class="badge">Usuario :</ion-badge>
              </ion-col>
              <ion-col size="8.5">
                <ion-text>
                  {{item.nombre}}
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
  </div>

</ion-content>
